

---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css"
import Navbar from "../components/Navbar.astro"
---

<Layout title="login">
  <Navbar/>
  <div>
      <div style="min-height: 70vh; background-color: purple;">
            <div class="flex flex-col items-center justify-center min-h-screen">

          <p class="mb-5" style="color: white;font-size: 25px;">Log In</p>
                <div class="bg-white min-h-[50px] w-1/2 p-4 shadow rounded">
          <div class="container">

         
   <form method="POST" action="/api/login" id="LoginForm" class="max-w-sm mx-auto">
            <div class="mb-1">
              <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Your username</label>
              <input
                type="text"
                id="username"
                name="username"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="sussybaka"
                required
              />
            </div>
            <div id="LoginMessage" class="mb-5"></div>

            <button
              type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
            >
              Submit
            </button>
          </form>
           </div>
           </div>
          </div>
        </div>
</div>  



<script type="module">
  const form = document.getElementById("LoginForm");
  const LoginMessage = document.getElementById("LoginMessage");

  form.addEventListener("submit" , async(e)=>{
    e.preventDefault();


    const username = document.getElementById("username").value;
    console.log("submitting username" , username);

    try {
      const res = await fetch("api/login" , {
          method : "POST",
            headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username }),
      } );

      const data = await res.json();
      console.log("Response data" , data);

      if(res.ok){
        LoginMessage.textContent = "User logged in successfully";
        LoginMessage.style.color = "green";
        window.location.href = "/";
      } else {
        LoginMessage.textContent = data.error || "User did not log in ";
        LoginMessage.style.color = "red";
      }

    } catch (error){
      console.error("Fetch error:" , error);
      LoginMessage.textContent = "Server error. Please try again";
      LoginMessage.style.color = "red";
    }


  })
</script>

</Layout>
