---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"
import Header from "../components/Header.astro"
import Mainbox from "../components/Mainbox.astro";
---

<div id="container">
	<Navbar/>
    <Header/>

</div>


